.container {
  height: 63%;
  padding: 1.5rem;
  background-color: var(--color-con-bg);
  border-radius: 5px;
  box-shadow: 0px 0px 5px 1px rgba(145, 198, 255,0.75);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(145, 198, 255,0.75);
  -moz-box-shadow: 0px 0px 5px 1px rgba(145, 198, 255,0.75);
}

.list {
  height: 85%;
  overflow: auto;
  text-align: center;
}

.list::-webkit-scrollbar {
  width: 0.7rem;
  background-color: #e6f2ff;
}

.list::-webkit-scrollbar-thumb {
  background-color: #91c6ff;
}