@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.appCount {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.totalCount {
  font-size: 3rem;
  margin: 2rem;
}
