html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@font-face {
  font-family: 'SUIT-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* AppCount */
.appCount {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin: 3rem;
}

.totalCount {
  font-size: 2rem;
  margin: 2rem;
}

.totalNum {
  font-size: 4rem;
  margin: 0 auto;
  padding: 2rem 0;
  width: 10rem;
  box-shadow: 5px 4px 12px -2px rgba(166,166,166,0.75);
  -webkit-box-shadow: 5px 4px 12px -2px rgba(166,166,166,0.75);
  -moz-box-shadow: 5px 4px 12px -2px rgba(166,166,166,0.75);
}

.counter {
  font-size: 1.5rem;
  margin: 3rem 0;
  padding: 2rem;
  box-shadow: 5px 4px 12px -2px rgba(166,166,166,0.75);
  -webkit-box-shadow: 5px 4px 12px -2px rgba(166,166,166,0.75);
  -moz-box-shadow: 5px 4px 12px -2px rgba(166,166,166,0.75);
}

.countBtn {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  border: none;
  border-radius: 10px;  
  padding: 1rem 1.5rem;
}

/* AppStalker */
.container {
  width: 100vw;
  height: 100vh;
  background-image: url('/public/court.jpg');
  background-size: cover;
}

.stalker {
  position: absolute;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  left: -15px;
  top: -15px;
}

/* AppForm */
.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
}

.form {
  width: 400px;
  height: 200px;
  padding: 50px 0 30px;
  border: 2px solid #fff0a6;
  border-radius: 10px;
  box-shadow: 4px 3px 18px 5px rgba(237,226,178,0.75);
  -webkit-box-shadow: 4px 3px 18px 5px rgba(237,226,178,0.75);
  -moz-box-shadow: 4px 3px 18px 5px rgba(237,226,178,0.75);
}

.nameLabel, .emailLabel {
  font-size: 20px;
  font-family: 'SUIT-Bold';
}

.nameLabel {
  margin-right: 17px;
}

#formName, #formEmail {
  padding: 5px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff0a6;
}

.formSubmit {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-family: 'SUIT-Bold';
  background-color: #fff0a6;
  margin-top: 50px;
}